.Work{
    background-color: lightgreen;
    border:1 1 black;
}
.NonWorking{
    background-color: dimgray;
    border:1 1 black;
}
.Leave{
    background-color: red;
    border: 1 1 black;
}

.year-label {
  max-width: 68px;
  padding-left: 15px;
  p {
    font-size: 1.5rem;
  }
}
