.Work{
    background-color: lightgreen;
    border:1 1 black;
}
.NonWorking{
    background-color: dimgray;
    border:1 1 black;
}
.Leave{
    background-color: red;
    border: 1 1 black;
}