<div class="container">
  <div *ngIf="holiday.status === HolidayStatus.pending" class="col d-flex justify-content-center">
    <p>Elfogadésra vár</p>
  </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-6 col-md-8 col-8">
      <div class="row">
        <div class="col-md">
          {{ holiday.from | date:dateFormat }} 
        </div>
        <div class="col-md">
          {{ holiday.to | date:dateFormat }}
        </div>
      </div>
    </div>
    <div class="col-2 align-itme-center">
      <button (click)="onAccept()" class="btn btn-success btn-sm">Y</button>
    </div>
    <div class="col-2 align-item-center">
      <button (click)="onCancel()" class="btn btn-danger btn-sm">N</button>
    </div>
  </div>
  <div class="row">
</div>
