.month-view {
  text-align: center;
  width: 260px;
}

.monthTitle{
  border-radius: 12px;
}

.selectedDay {
  background-color:var(--red);
  color: white;
}

.selectedDay:hover{
  background-color: var(--red-hover);
}

button.btn {
  border-radius: 2rem;
  width: 2rem;
}

.btn-1-char {
  padding: .35rem .8rem .35rem .8rem;
  width: 2.1rem !important;
}

button.btn:hover {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  border-radius: 2rem;
}

button.btn:focus {
  border-radius: 2rem;
}

// mobile
th, td {
  border-bottom: 1px solid #6b6b6b;
  font-size: large;
}

// tablet
@media only screen and (min-width: 458px) {
  th, td {
    //padding: .5rem;
    font-size: large;
  }
}

// desktop
@media only screen and (min-width: 800px) {
  th, td {
    padding: .1rem;
    font-size: large;
  }
}

table {
  width: inherit;
}

.weekdays {
  color: lightgrey;
}

