.month-view {
  text-align: center;
  width: 300px;
}

.userSelectedDay {
  background-color:var(--red);
  color: var(--light);
}

.btn-1-char {
  width: 2rem !important;
}

button.btn:hover {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}


// mobile
th, td {
  border-bottom: 1px solid #6b6b6b;
  font-size: large;
}

// tablet
@media only screen and (min-width: 458px) {
  th, td {
    font-size: large;
  }
}

// desktop
@media only screen and (min-width: 800px) {
  th, td {
    padding: .1rem;
    font-size: large;
  }
}

table {
  width: inherit;
}

.freeDay {
  color: var(--light);
  background-color: var(--green);
}

.workDay {
  color: var(--light);
  background-color: var(--gray-dark);
}

.weekdays {
  color: lightgrey;
}

.btn.disabled, .btn:disabled {
  opacity: 100%;
}
