<div class="container month-view">
  <div class="row">
    <div class="col">
      <h3>{{ monthTitle }}</h3>
      <table>
        <tr>
          <th
            *ngFor="let day of weekdays"
            class="weekdays"
          >
            {{ day }}
          </th>
        </tr>
        <tr *ngFor="let row of rows;">
          <td
            *ngFor="let col of row;"
          >
            <button
              class="btn btn-sm"
              *ngIf="col"
              [class.userSelectedDay]="userSelectedDays.includes(col)"
              [class.NonWorking]="col.status === 0"
              [class.Work]="col.status === 1"
              [class.Leave]="col.status === 2"
              [class.btn-1-char]="is1CharLong(col.date)"
              [disabled]="disabled || col.status === 2"
              (click)="onDayClick(col);"
            >
              {{ col.date | date: 'd' }}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
