<div class="month-view">
  <button
    type="button"
    class="btn monthTitle"
    (click)="onMonthClick(monthTitle)"
  >
    <h3>{{ monthTitle }}</h3>
  </button>
  <table class="table">
    <tr>
      <th
        *ngFor="let day of weekdays"
        class="weekdays pr-3"
      >
        {{ day }}
      </th>
    </tr>
    <tr *ngFor="let row of rows;">
      <td
        *ngFor="let col of row;"
      >
        <button
          class="btn btn-sm"
          *ngIf="col"
          [class.selectedDay]="selectedDays.includes(col)"
          [class.btn-1-char]="is1CharLong(col.date)"
          (click)="onDayClick(col);"
        >
          {{ col.date | date: 'd' }}
        </button>
      </td>
    </tr>
  </table>
</div>
