<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img width="80" height="80" src="https://raw.githubusercontent.com/datapress-oss/dp-web/8514c7fa8bbdbd48b9820027fbd448a9aa610293/src/client/assets/img/logos/dp_logo_2012.svg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login" routerLinkActive="Activate">Bejelentkezés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Általános</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="Activate" *ngIf="isLoggedIn()">user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn()">admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn()">boss</a>
      </li>
    </ul>
    <app-user-menu></app-user-menu>
  </div>
</nav>
