<div class="btn-group" dropdown [insideClick]="true" [isAnimated]="true">
  <button
    id="button-animated"
    dropdownToggle
    type="button"
    class="btn btn-danger dropdown-toggle"
    aria-controls="dropdown-animated"
  >
    <fa-icon [icon]="faUser"></fa-icon> <span class="caret"></span>
  </button>
  <ul
    id="dropdown-animated"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-animated"
  >
    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
      <li role="menuitem">
        <a class="dropdown-item">Felhasználó: {{ username }}</a></li>
      <li role="menuitem">
        <a class="dropdown-item">Profilom</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="onLogOut()">Kijelentkezés</a>
      </li>
    </ng-template>
    <ng-template #loggedOut>
      <app-login class="dropdown-item"></app-login>
    </ng-template>
  </ul>
</div>
