<div class="btn-group" dropdown container="body">
  <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
    <fa-icon [icon]="faUser"></fa-icon> <span class="caret"></span>
  </button>
  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-animated">
    <li role="menuitem"><a class="dropdown-item" href="#">Felhasználó: </a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Profilom</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" href="#" (click)="onLogOut()">Kijelentkezés</a>
    </li>
  </ul>
</div>
