li {
  cursor: pointer;
}

a:hover{
  background-color: var(--red);
  color: white;
}

.dropdown-item {
  background-color:  transparent;
  color: black;
}

ul {
  width: 200px;
}

@media only screen and (min-width: 992px) {
  ul {
    transform: translateY(0px) translateX(-35%) !important;
  }
}

.btn {
  background-color: var(--red);
  color: white;
}

.btn:hover {
  background-color: var(--red-hover);
}
