<div class="btn-group" dropdown [insideClick]="true">
  <button
    id="button-animated"
    dropdownToggle
    type="button"
    class="btn btn-danger dropdown-toggle"
    aria-controls="dropdown-animated"
  >
    <fa-icon [icon]="faUser"></fa-icon> <span class="caret"></span>
  </button>
  <ul
    id="dropdown-animated"
    *dropdownMenu
    class="dropdown-menu text-center"
    role="menu"
    aria-labelledby="button-animated"
  >
    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/user" routerLinkActive="Activate">Profilom</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="onLogOut()">Kijelentkezés</a>
      </li>
    </ng-template>
    <ng-template #loggedOut>
      <button class="btn btn-danger" type="button" routerLink="/login" routerLinkActive="Activate">
        Bejelentkezés
      </button>
    </ng-template>
  </ul>
</div>
