<div id="test-route">
  <h1>test route</h1>

  <hr>
  <app-datepicker-input
    title="Új szabadnap hozzáadása"
    theme="theme-red"
    (addNewDate)="newFreeDayEventHandler($event)"
  >
  </app-datepicker-input>
  <hr>
  <app-datepicker-input
    title="Új munkanap hozzáadása"
    theme="theme-red"
    (addNewDate)="newWorkDayEventHandler($event)"
  >
  </app-datepicker-input>
  <hr>

  <h3>Calendar component</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs col-sm col-md col-lg col-xl calendarBorder" *ngFor="let month of currentYearCalendar.months; index as i">
        <app-calendar
          [currentMonth]="i+1"
          [calendarYear]="currentYearCalendar"
        >
        </app-calendar>
      </div>
    </div>
  </div>
</div>
