<div class="login-container">
  <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="loggedIn">
    <form [formGroup]="userLoginForm">
      <div class="form-group">
        <label for="exampleFormControlInput1">Bejelentkezés</label>
        <input
          type="text"
          class="input form-control"
          placeholder="Felhasználónév"
          formControlName="usernameInput"
          (keydown.enter)="onLogIn()"
        >
        <input
          type="password"
          class="input form-control"
          placeholder="Jelszó"
          formControlName="passwordInput"
          (keydown.enter)="onLogIn()"
        >
        <button type="button" class="btn btn-danger" (click)="onLogIn()">Belép</button>
      </div>
    </form>
  </ng-template>
  <ng-template #loggedIn>
    <h2>Már be vagy lépve!</h2>
  </ng-template>
</div>




