#year-view {
  
  
  button:hover {
    color: rgb(170, 50, 50);
    
  }
}

.preSelected {
  background-color:  rgb(216, 172, 172);
}

.currentMonth {
  border-style: solid;
  border-color:  rgb(170, 50, 50);
}
.monthTitle{
  border-radius: 12px;
  width:200px;
  height: 50px;

}
.width{
  width:20rem;
  
}


