<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
      <input
        type="text"
        placeholder="Megnevezés"
        class="form-control bg-light"
        [(ngModel)]="title"
      >
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4">
      <input
      #dp="bsDatepicker"
      type="text"
      placeholder="Dátum kiválasztása"
      class="form-control bg-light"
      bsDatepicker
      [bsConfig]="bsConfig"
      [bsValue]="bsValue"
      [(ngModel)]="bsValue"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </div>
    <div class="col-1">
      <button class="btn btn-success" (click)="onNewDate(bsValue)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row mb-2" *ngFor="let day of customeDays; let i = index">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 p-0 border border-dark">
      <div class="output">
        <p>{{ day.title }}</p>
      </div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4 p-0 border border-dark">
      <div class="output">
        <p>{{ displayMomentDate(day.date) }}</p>
      </div>
    </div>
    <div class="col-1 pt-2">
      <button class="btn btn-danger" (click)="onRemoveDate(customeDays[i])">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</div>
