<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="title">{{ title }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <input
        type="text"
        placeholder="Megnevezés"
        class="form-control"
        [(ngModel)]="bsDescription"
      >
    </div>
    <div class="col d-flex justify-content-center">
      <input
      #dp="bsDatepicker"
      type="text"
      placeholder="Dátum kiválasztása"
      class="form-control"
      bsDatepicker
      [bsConfig]="bsConfig"
      [bsValue]="bsValue"
      [(ngModel)]="bsValue"
    >
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <button class="btn align-center mt-3 submit-btn" (click)="onNewDate(bsValue)">
        Hozzáad
      </button>
    </div>
  </div>
</div>
