.form-control {
  margin-bottom: 1rem;
}

.output {
  padding-left: .5rem;
  p {
    margin-bottom: 0rem;
    padding: 1rem;
  }
}

.title {
  text-align: center;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
