.form-control {
  margin-bottom: 1rem;
}

.output {
  padding-left: .5rem;
}

.title {
  text-align: center;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  color: white;
  background-color: var(--green);
  //border-radius: 10px;

}

.submit-btn:hover {
  background-color: var(--green-hover);
}

.delete-btn {
  color: white;
  background-color: var(--red);
}

.delete-btn:hover {
  background-color: var(--red-hover);
}
