.form-control {
  margin-bottom: 1rem;
}

div.form-control {
  overflow-x: auto;
}

.title {
  text-align: center;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  color: white;
  background-color: #f76868;
  //border-radius: 10px;

}

.submit-btn:hover {
  background-color: #ff4747;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
