<div class="container-fluid">
  <div class="row mb-4">
    <div class="col">
      <h4 class="title">{{ title }}</h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-6">
      <input
        type="text"
        placeholder="Megnevezés"
        class="form-control"
        [(ngModel)]="bsDescription"
      >
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
      <input
      #dp="bsDatepicker"
      type="text"
      placeholder="Dátum kiválasztása"
      class="form-control"
      bsDatepicker
      [bsConfig]="bsConfig"
      [bsValue]="bsValue"
      [(ngModel)]="bsValue"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </div>
    <div class="col-1">
      <button class="btn submit-btn" (click)="onNewDate(bsValue)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row mb-2" *ngFor="let day of customeDays">
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-6">
      <div class="output">
        <p>{{ day.description }}</p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
      <div class="output">
        <p>{{ displayMomentDate(day.date) }}</p>
      </div>
    </div>
    <div class="col-1">
      <button class="btn delete-btn" (click)="onRemoveDate(day.date)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</div>
