<div class="container-fluid">
  <div class="row mb-4">
    <div class="col">
      <button class="btn btn-info">Összegző nézet</button>
    </div>
    <div class="col-xl-2 col-4">
      <app-state-save
        (saveEvent)="adminStateSaveEventHandler()"
        (discardEvent)="adminStateDiscardEventHandler()"
      >
      </app-state-save>
    </div>
  </div>
  <div class="row">
    <div class="col-xl col-sm-12">
      <h4>Új szabadnap kiválasztás</h4>
          <app-datepicker-input
            theme="theme-red"
            [customeDays]="freeDays"
            (addCustomeDayEvent)="addFreeDayEventHandler($event)"
            (removeCustomeDayEvent)="removeFreeDayEventHandler($event)"
          >
          </app-datepicker-input>
    </div>
      <div class="col-xl col-sm-12">
        <h4>Új munkanap kiválasztás</h4>
          <app-datepicker-input
            theme="theme-red"
            [customeDays]="workDays"
            (addCustomeDayEvent)="addWorkDayEventHandler($event)"
            (removeCustomeDayEvent)="removeWorkDayEventHandler($event)"
          >
          </app-datepicker-input>
  </div>
</div>
  <div class="row pt-3">
    <div
      class="col-xl-3 col-lg-4 col-md col-sm-6 col-xs-12 col-12 mb-5"
      *ngFor="let month of currentYearCalendar.months; index as i"
    >
      <app-calendar
        [currentMonth]="i+1"
        [calendarYear]="currentYearCalendar"
        [freeDays]="freeDays"
        [workDays]="workDays"
        [outputOnly]="true"
      >
      </app-calendar>
    </div>
  </div>

