table.table {
    border-collapse: separate;
    background-color:white;
    text-align: center;
    width: 120vh;
}

@media only screen and (min-width: 1200px) {
  table.table {
    width: 155vh;
  }
}

@media only screen and (min-width: 1600px) {
  table.table {
    width: 170vh;
  }
}

@media only screen and (min-width: 1920px) {
  table.table {
    width: 185vh;
  }
}

table.table td {
    padding: 0;
    width: 18px;
    height: 18px;
    max-width: 100%;
}

table.table thead td {
    font-size: 13px;
    font-style: italic;
    border: solid 1px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.table tbody td {
    border: solid 1px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;
}


.workDay {
    background-color: lightgreen;
    border:1 1 black;
}

.leaveDay {
  background-color: red;
  border: 1 1 black;
}

.nonWorkDay {
    background-color: dimgray;
    border:1 1 black;
}

.extraWorkDay {
  background-color: lightgreen;
  border:1 1 black;
}
