table.table{
    border-collapse: separate;
    background-color:white;
    text-align: center;
    }
table.table td{
    padding: 5px 2px;
}

table.table thead td{
    font-size: 13px;
    font-style: italic;
    border: solid 1px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
table.table tbody td{
    border: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    vertical-align: middle;
}


.Work{
    background-color: lightgreen;
    border:1 1 black;
}
.NonWorking{
    background-color: dimgray;
    border:1 1 black;
}
.Leave{
    background-color: red;
    border: 1 1 black;
}