<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td></td> <!-- skip first cell with an empty col -->
        <td *ngFor="let day of daysInMonth(); let i = index">
          <p>{{ nameOfTheDay(i+1) }}</p>
          <p>{{ i+1 }}</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let currentEmployeeIndex = index">
        <ng-template [ngIf]="getEmployeeNameLength(employee.name) <= 9" [ngIfElse]="longName">
          <td class="employeeName">
            <p>{{ employee.name }}</p>
          </td>
        </ng-template>
        <ng-template #longName>
          <td class="employeeName">
            <button
              class="longName btn"
              [tooltip]='employee.name'
              triggers="focus"
            >
              <p>
                {{ employee.name.slice(0, 9) }}...
              </p>
          </button>
          </td>
        </ng-template>
        <td
          *ngFor="let day of combineWeeksToDays(currentYearCalendar.months[selectedMonth].weeks); let currentDayIndex = index;"
          [class.NonWorking]="day.status === 0"
          [class.Work]="day.status === 1"
          [class.leaveDay]="day.status === 3"
        >
        </td>
      </tr>
    </tbody>
  </table>
</div>
