table.table {
    border-collapse: separate;
    text-align: center;
    width: 105rem;
}

table.table td {
    padding: 0rem;
    min-width: 24px;
    height: 18px;
    max-width: 100%;
}

table.table thead td {
    font-size: 13px;
    font-style: italic;
    border: solid 1px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.table tbody td {
    border: solid 1px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .5rem 0rem;
    vertical-align: middle;
    p {
      margin-bottom: 0rem;
    }
}

.workDay {
    background-color: var(--green);
    border:1 1 black;
}

.leaveDay {
  background-color: var(--red);
  border: 1 1 black;
}

.nonWorkDay {
    background-color: var(--gray-dark);
    border:1 1 black;
}

.extraWorkDay {
  background-color: var(--green);
  border:1 1 black;
}

.employeeName {
  max-width: 48px !important;
}

.longName {
  padding: 0px;
  margin: 0px;
}
.longName:focus{
  color: var(--red);
}
