<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button
        class="btn btn-danger collapseBtn"
        data-toggle="collapse"
        href="#userSummary"
        role="button"
        aria-expanded="false"
        aria-controls="Collapse"
      >
        Felhasználó összegzése
      </button>
    </div>
  </div>
      <div class="collapse multi-collapse" id="userSummary">
        <div class="card card-body shadow">
          <div  class="row">
            <div class="col"><p>Összes kivehető napok: 31</p></div>
            <div class="col"><p>Eddig kivett napok: {{ currentUser.leaveDates.length }}</p></div>
            <div class="col"><p>Maradék kivehető napok: {{ 31 - currentUser.leaveDates.length }}</p></div>
         </div>
            <div class="row">
              <div class="col-2 d-flex justify-content-center border">
                <p>2020.12.20 - 2020.12.25</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div
      class="col-xl-3 col-lg-4 col-md col-sm-6 col-xs-12 col-12 mb-5"
      *ngFor="let month of currentYearCalendar.months; index as i"
    >
      <app-calendar
        [currentMonth]="i+1"
        [calendarYear]="currentYearCalendar"
      >
      </app-calendar>
    </div>
  </div>
</div>
