<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button
        class="btn btn-danger collapseBtn"
        data-toggle="collapse"
        href="#userSummary"
        role="button"
        aria-expanded="false"
        aria-controls="Collapse"
      >
        Felhasználó összegzése
      </button>
    </div>
    <div class="col-xl-2 col-4">
      <app-state-save
        (saveEvent)="userStateSaveEventHandler()"
        (discardEvent)="userStateDiscardEventHandler()"
      >
      </app-state-save>
    </div>
  </div>
    <div class="collapse multi-collapse w-100" id="userSummary">
      <div class="card card-body shadow">
        <div  class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"><p>Összes kivehető napok: 31</p></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"><p>Eddig kivett napok: {{ currentUser.leaveDates.length }}</p></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"><p>Maradék kivehető napok: {{ 31 - currentUser.leaveDates.length }}</p></div>
        </div>
        <div class="row border" *ngFor="let holyday of mockHolidays">
          <div class="col-xl-5 col-lg-7 col">
            <app-date-proposal
              [holiday]="holyday"
              (accept)="userHolidayAcceptEventHandler($event)"
              (cancel)="userHolidayCancelEventHandler($event)"
            >
            </app-date-proposal>
          </div>
        </div>
      </div>
    </div>
  <div class="row pt-3">
    <div
      class="col-xl-3 col-lg-4 col-md col-sm-6 col-xs-12 col-12 mb-5"
      *ngFor="let month of currentYearCalendar.months; index as i"
    >
      <app-calendar
        [currentMonth]="i+1"
        [calendarYear]="currentYearCalendar"
      >
      </app-calendar>
    </div>
  </div>
</div>
