.row {
 
  padding-bottom: 1rem;
  
}
.grid{
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 100px;
}

.collapseBtn {

}

.collapseBtn:hover {

}

#userSummary {
  width: 100%;
}
