.row {
  padding-bottom: 2rem;
}

.collapseBtn {
  color: white;
  background-color: var(--red);
}

.collapseBtn:hover {
  background-color: var(--red-hover);
}

#userSummary {
  width: 100%;
}
