/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.modal-dialog {
  max-width: 95% !important;
}

.NonWorking {
  color: var(--light);
  background-color: var(--green);
}

.Work {
  color: var(--light);
  background-color: var(--gray);
}

.Leave {
  color: var(--light);
  background-color: var(--red);
}
