table {
    width: 50px;
    text-align: center;
    .btn {
      padding: 0.4rem;
      
      background-color: transparent;
      
    }
    .whidth{
        width:10px ;
    }
  }
  
      
  
 