<div id="app-calendar-component">
  <div [ngSwitch]="currentView">

    <app-year-view
    [@fadeAnimation2]
      *ngSwitchCase="'year'"
      [preSelectedMonth]="preSelectedMonth"
      [currentMonth]="currentMonth"
      (selectedMonth)="monthSelectEventHandler($event)"

    >
    </app-year-view>


    <app-month-view
    [@fadeAnimation2]
    *ngSwitchCase="'month'"
      [monthTitle]="calendarYear.months[selectedMonth-1].title"
      [rows]="calendarYear.months[selectedMonth-1].weeks"
      (selectNewMonth)="selectNewMonthEventHandler($event)"
      (selectNewDay)="selectNewDayEventHandler($event)"
    >
    </app-month-view>
  </div>
</div>
