<div id="app-calendar-component">
  <h2>{{ title }}</h2>
  <table  class="table table-striped">
    <thead class="thead-dark">
        <th *ngFor="let weekday of weekdays">{{ weekday | uppercase }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
      <td class="width" *ngFor="let day of week">
        <button
        type="button"
        class="btn"
        *ngIf="day"
        (click)="onDayClick(day)"
        >
          {{ day.date | date: 'd' }}
      </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
