<div>
<h2>{{      ||      }}</h2>
<div>
    <div *ngFor="let item of items">
        <mat-card>
            <mat-card-header>
                <h2>{{      }}</h2>
            </mat-card-header>
            <mat-card-contant>
                <table>
                    <tr>
                        <td *ngFor="let item of items">{{       }}</td>
                    </tr>
                    <tr *ngFor="let item of items">
                        <td (click)="    ()" id="{{}}" *ngFor="let item of items">
                            {{}}
                        </td>
                    </tr>
                </table>
            </mat-card-contant>
        </mat-card>
    </div>
</div>
</div>